@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Oswald' , sans-serif;

}
:root
{
--bg: #100332;
}
body 
{
   min-height :200vh;
   background: var(--bg);
   
}
.Navigation
{
 position: fixed;
 inset :40px 0 40 px 20 px;
 background: #fff;
 width: 75px;   
 display: flex;
 justify-content: center;
 align-items: center;
 transition :05s; 
}99
.Navigation.active
{
width: 250px;
}


.MenuToggle
{
 position: absolute;
 top:0;
 left:0;
 width: 100px;
 height: 60px;
 padding:0 23px;
 border-bottom: 1px soild rgba(0,0,0,0.25);
 display: flex;
 justify-content: flex-start;
 align-items: center;
 cursor: pointer;
}
.MenuToggle::before
{
content:'';
position: absolute;
width: 30px;
height: 2px;
background:#fff;
transform: translateY(-8px);
transition:0.5s;
}
.Navigation.active.MenuToggle::before
{
    transform: translateY(0) rotate(45deg);

}
.MenuToggle::after
{
    content:'';
    position: absolute;
    width: 30px;
    height: 2px;
    background:#fff;
    transform: translateY(8px);
    box-shadow:0 -8px 0 #333;
    transition:0.5s;
    }
.Navigation.active.MenuToggle::after
{
    transform: translateY(0) rotate(-45deg);
    box-shadow:0 0 0 #fff;
}    
